@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
*,
:focus {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /*colors*/
  --cwhite: #fff;
  --cwhiteG: #fafafa;
  --clightblue: #95f2ff;
  --cblue40: #7286d3;
  --cblack: #000000;
  --cblack80: #4e4e4e;
  --cblack90: #4e4e4e5a;
  --clightpur: #ffdfdf;
  --cpur: #8951ff;
  --cpur30: #e5e0ff;
  --cpur100: #ceb0fa;
  --cpur70: #3953e0;
  --cred: #ff345d;
  --cgreen: #A1DD70;

  /*    shadow*/
  --shadowLightblue: 0px 6px 7px #95f3ff2c;
  --shadowBlack: 0px 6px 7px rgba(51, 51, 51, 0.38);
  --shadowBlack20: 0px .2rem  1rem rgba(51, 51, 51, 0.1);
  --shadowpur30: 0px 6px 7px rgba(220, 224, 255, 0.49);

  /* z-index */
  --maxzindex: 11;
}

.primaryColor {
  background: var(--cpur70);
  color: var(--cwhite);
}

.errorBorder {
  border-color: var(--cred) !important;
}

.errorBorder:focus{
    outline-color: var(--cred) !important;
}

.succeededBorder {
    border-color: var(--cgreen) !important;
}

.succeededBorder:focus {
    outline: var(--cgreen) !important;
}

.shadowLB {
    box-shadow: var(--shadowLightblue);
}
.shadowB {
    box-shadow: var(--shadowBlack);
}

.shadowB20 {
    box-shadow: var(--shadowBlack20);
}

.shadowP30 {
    box-shadow: var(--shadowpur30);
}

html {
  font-size: 62.5%;
  background: var(--cwhiteG);
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a.notvisible {
  pointer-events: none;
}

.flex {
  display: flex;
}

.justc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.inputGrop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  margin-top: 1rem;
}

.inputGrop input {
  margin-top: 1rem;
  width: 100%;
  height: 5rem;
  padding-left: 1rem;
  border-radius: 0.7rem;
  border: 0.2rem solid var(--cpur30);
}

.inputGrop input:focus {
  outline-color: transparent;
}

.inputGrop p {
  margin-top: 0.4rem;
  color: var(--cred);
}

.buttonGrop {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1.5rem;
}

.buttonGrop button {
  width: 80%;
  height: 4rem;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}
